* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: Arial, Helvetica, sans-serif;

    --background: rgb(226, 226, 226);
    --background-calculadora: rgba(216, 216, 216, 0.692);
    --button: rgb(247, 10, 10);
    --button-hover: rgb(196, 11, 11);

    overflow-x: hidden;
}

.content {
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--background);

    background: url('./images/corrida.jpg');
    background-size: cover;
}

.content .calculadora {
    width: 50vw;
    height: 70vh;
    background: var(--background-calculadora);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border-radius: 8px;
}

.content .calculadora h2 {
    font-size: 1.5rem;
    margin-bottom: 30px;
}

.content .calculadora input {
    width: 50%;
    padding: 20px 30px;
    border: none;
    border-radius: 8px;

    font-size: 1rem;

    margin-bottom: 10px;

    outline: none;
}

.content .calculadora button {
    background-color: var(--button);
    padding: 10px 30px;

    font-size: 1rem;
    color: white;
    border: none;
    border-radius: 8px;

    margin: 30px 0 10px 0;

    transition: .6s;
}

.content .calculadora button:hover {
    background-color: var(--button-hover);
    cursor: pointer;
}

.content .calculadora #resultado {
    width: 60%;
    height: 70px;

    font-size: 1.2rem;

    display: flex;
    align-items: center;
    justify-content: center;
}
